{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
#title-detail{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #485d7f;
  font-family: Garamond monospace;
}
</style>


<!-- CHART -->
<div class="container-fluid candlechart" id="front-img-container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 middle" id="candlestickdiv">
    <p id="title-detail">{{object.title}} ({{object.symbol}})</p>
  <div id="candlestick"></div>
  </div>
  <div class="col-sm-1"></div>
  </div>
<!-- Trade Table -->
<div class="container-fluid" id="front-img-container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 middle">
    <table class="table table-striped" id="table-striped">
      <thead>
      <tr id="tableheaderRow">
        <th colspan="2" id="future-headers">Contract</th>
        <th id="future-headers">Exchange</th>
        <th id="future-headers">Symbol</th>
        <th id="future-headers">Price</th>
        <th id="future-headers">Net Change</th>
        <th id="future-headers">Open</th>
        <th id="future-headers">High</th>
        <th id="future-headers">Low</th>
        <th id="future-headers">Prev. Settle</th>
        <th id="future-headers">Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2" class="futures" id="commodity">{{object.title}}
          <select class ="" name="item">
          {% for vari_choice in object.variation_set.all %}
            <option value= "{{vari_choice.id}}">{{vari_choice.title}} </option>
            {% endfor %}
        </select>
        </td>
        <td class="futures">{{object.exchange}}</td>
        <td class="futures">{{object.symbol}}</td>
        <td id="price" class="futures"></td>
        <td id="net-change" class="futures"></td>
        <td id="open" class="futures"></td>
        <td id="high" class="futures"></td>
        <td id="low" class="futures"></td>
        <td id="prev-settle" class="futures"></td>
        <td id="volume" class="futures"></td>
      </tr>

    </tbody>
    </table>



</div>
<div class="col-sm-1"></div>
</div>
<!-- {{object.exchange}} -->

{% endblock content %}

{% block futurejs %}
<script type="text/javascript">
var exchange = "{{object.exchange}}"
var symbol = "{{object.symbol}}"
</script>
<script type="text/javascript" src="{% static 'Javascript/future.js' %}"> </script>
<script type="text/javascript" src="{% static 'Javascript/plotly-latest.min.js' %}"> </script>
{% endblock %}
